#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.title {
  font-size: 2em;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}
.form-wrapper {
  width: 400px;
  padding: 150px 0;
}
.btns {
  background-color: var(--black);
  color: var(--white);
}
.btn-theme {
  padding: 5px 15px;
  font-size: 0.9em;
}
.users-input {
  outline: none !important;
  transition: border 0.2s ease-in;
}
.users-input:focus {
  border: 1px solid var(--black);
}
.users-input::placeholder,
.users-input:has(option[value='']:checked) {
  color: var(--gray-dark);
}
.users-input + .users-input {
  margin-top: 8px;
}
.btn-submit {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}
.btn-submit.pending {
  opacity: 0.3;
  cursor: wait;
}
.error-msg {
  color: var(--error);
  font-size: 0.9em;
  font-weight: bold;
  margin: 7px 0 15px 5px;
}
.summary-box {
  margin-top: 30px;
  padding: 20px 20px 5px 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

/* DARK MODE */
.dark.form-container {
  background-color: var(--black);
}
.dark .title {
  color: #fff;
}
.dark .users-input {
  background-color: transparent;
  border: 1px solid #464646;
  color: var(--white);
  caret-color: var(--white);
}
.dark .users-input:focus {
  border: 1px solid var(--white);
}
.dark .btns {
  background-color: var(--white);
  color: var(--black);
}
.dark .users-input::placeholder,
.dark .users-input:has(option[value='']:checked) {
  color: var(--gray-dark);
}
.dark .summary-box {
  border: 1px solid var(--white);
  color: var(--white);
}
